$primary: #2690df;
$secondary: #707070;
$baseFontSize:1ˊpx !default;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

body {
  background: #232d2f;
  color:#f8f8f8;
}
button {
  color:#f8f8f8;
}

// .footer {
//   background-color: #f5f5f5;
// }
